In [2]:
import pandas as pd
from scipy import stats

In [3]:
ed = pd.read_csv("education_districtwise.csv")
ed = ed.dropna()

In [4]:
ed.head()

      DISTNAME STATNAME  BLOCKS  VILLAGES  CLUSTERS  TOTPOPULAT  OVERALL_LI
0   DISTRICT32   STATE1      13       391       104    875564.0       66.92
1  DISTRICT649   STATE1      18       678       144   1015503.0       66.93
2  DISTRICT229   STATE1       8        94        65   1269751.0       71.21
3  DISTRICT259   STATE1      13       523       104    735753.0       57.98
4  DISTRICT486   STATE1       8       359        64    570060.0       65.00

EXPLORE DATA

In [8]:
state21 = ed[ed['STATNAME'] == "STATE21"]

In [9]:
state28 = ed[ed['STATNAME'] == "STATE28"]

SIMULATE RANDOM SAMPLING

In [10]:
sampled_state21 = state21.sample(n= 20, replace = True, random_state=13490)

In [11]:
sampled_state28 = state28.sample(n= 20, replace = True, random_state=39103)

COMPUTE SAMPLE MEANS

In [13]:
sampled_state21['OVERALL_LI'].mean()

70.82900000000001

In [14]:
sampled_state28['OVERALL_LI'].mean()

64.60100000000001

CONDUCT HYPOTESIS TEST

In [15]:
stats.ttest_ind(a = sampled_state21['OVERALL_LI'], b = sampled_state28['OVERALL_LI'], equal_var = False)

TtestResult(statistic=2.8980444277268735, pvalue=0.006421719142765237, df=35.20796133045557)