In [7]:
import numpy as np
import pandas as pd
from scipy import stats
import statsmodels.api as sm

In [2]:
df = pd.read_csv('education_districtwise.csv')
df = df.dropna()

In [3]:
sampled_data = df.sample(n = 50, replace = True, random_state = 31208)
sampled_data.head(10)

        DISTNAME STATNAME  BLOCKS  VILLAGES  CLUSTERS  TOTPOPULAT  OVERALL_LI
661  DISTRICT528   STATE6       9       112        89   1863174.0       92.14
216  DISTRICT291  STATE28      14      1188       165   3273127.0       52.49
367   DISTRICT66  STATE23      12      1169       116   1042304.0       62.14
254  DISTRICT458   STATE3       3       157        19     82839.0       76.33
286  DISTRICT636  STATE35       3       187        44    514683.0       86.70
369  DISTRICT512  STATE23       6       589        30    717169.0       68.35
258  DISTRICT156   STATE3       6        80         9     35289.0       59.94
10   DISTRICT412   STATE1      11       187        95    476820.0       68.69
512  DISTRICT277   STATE9      10       558       179   2298934.0       84.31
144  DISTRICT133  STATE21      14      1672       136   3673849.0       69.61

In [12]:
sample_mean = sampled_data['OVERALL_LI'].mean()

In [13]:
estimated_standard_error = sampled_data['OVERALL_LI'].std() / np.sqrt(sampled_data.shape[0])

In [15]:
stats.norm.interval(0.95, loc=sample_mean, scale=estimated_standard_error)

(71.42241096968617, 77.02478903031381)

In [17]:
stats.norm.interval(0.99, loc=sample_mean, scale=estimated_standard_error)

(70.54221358373107, 77.90498641626891)